/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding-top: 50px;
  background: image-url("bacimage.jpg") !important;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.home-row {
  margin-bottom: 24px;
}

.bs-callout {
  padding: 10px;
  margin: 20px 0;
  border-width: 1px 1px 1px 5px;
  border-style: solid;
  border-color: #eee;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  border-radius: 3px;
  text-align: left;
  background: white;
  color: black;
  max-width: 30%;
}



.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
  display: inline-block;
}

.alert-info {
  text-align: left;
}

.navbar-inverse {
  background-color: #333b4d;
  color: white;
  border: 0;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.chiquibot-response p {
  margin: 0;
  display: inline-block;
}

.chiquibot-responsers:before {
  content: url("bot.png");
  top: 7px;
  position: relative;
  margin-right: 10px;
}

.chiquibot-responser:before {
  content:url("you.png");
  top: 7px;
  position: relative;
  margin-right: 10px;
}

.infoBot {
  background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
  border: 4px solid #333b4d;
  color: #333b4d;
  font-size: 20px;
  margin: auto auto 20px;
  padding: 10px 0;
  width: 80%;
}